// Primary
$light-red: 0, 100%, 67%;
$orangey-yellow: 39, 100%, 56%;
$green-teal: 166, 100%, 37%;
$cobalt-blue: 234, 85%, 45%;

// Gradients
$g-l-slate-blue: 252, 100%, 67%;
$g-l-royal-blue: 241, 81%, 54%;
$g-violet-blue: 256, 72%, 46%;
$g-persian-blue: 241, 72%, 46%;
$grad-bg: $g-l-slate-blue, $g-l-royal-blue;
$grad-card: $g-violet-blue, $g-persian-blue;

// Neutral
$white: 0, 0%, 100%;
$pale-blue: 221, 100%, 96%;
$light-lavender: 241, 100%, 89%;
$dark-gray-blue: 224, 30%, 27%;
